
body {
  background-color: #000;
}

.parent{
  background-color: #fff;
  width: 100%;
  height: 300px;
  display: flex;
  grid-gap: 5px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.child{
  background-color: #FFFF00;
  width: 100px;
  height: 100px;
}

.child2{
  background-color: #D61355;
  width: 100px;
  height: 150px;
}
